th, td, tr {
    border: 1px solid black;
    padding: 10px;
    height : 100px;
}

#main {
    display: flex;
    justify-content: center;
    margin: auto;
}

#announce {

    display: flex;
    justify-content: center;

}


input {
    width: 800px;
}

header {
    border-bottom: 10px solid black;
}

#timeHolder {
    
        display: flex;
        justify-content: center;
    }
}
